.addToDoMenu {
  position: absolute;
  top: 291px;
  left: 444px;
  border: 1px solid #E1E1E1;
  border-radius: 20px;
  height: 296px;
  width: 560px;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 40px;
  background: white;
}

img {
  position: inherit;
  top: 19px;
  right: 19px;
}

.form {
  display: flex;
  flex-direction: column;
  row-gap: 40px;
}

textarea {
  width: 400px;
  height: 64px;
}

button {
  width: 400px;
  height: 50px;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 17px 0 154px;
  border: none;
}

button p {
  color: white;
}

button:enabled {
  background: linear-gradient(90deg, #38EE7E 0%, #1FA49B 100%);
  color: white;
  border: none;
}

button:enabled p {
  color: white;
}

button:disabled p {
  color: black;
  background: #D0D0D0;
}

